<settings>
	<localRepository>c:\dev\m2\repository</localRepository>
	<proxies>
		<!--proxy>
			<id>JusticeProxy</id>
			<active>true</active>
			<protocol>http</protocol>
			<host>webproxy.justice.qld.gov.au</host>
			<port>8080</port>
			<username>panchalni</username>
			<password></password>
			<nonProxyHosts>localhost|127.*|[::1]</nonProxyHosts>
		</proxy-->
	</proxies>
	<mirrors>
		<!--OPTIONAL-->
		<!--mirror>
			<id>au-qld-gov-bdm-bdm-repo</id>
			<name>au-qld-gov-bdm-bdm-repo</name>
			<url>https://au-qld-gov-bdm-736727292145.d.codeartifact.ap-southeast-2.amazonaws.com/maven/bdm-repo/</url>
			<mirrorOf>*</mirrorOf>
		</mirror-->
		<mirror>
			<id>nexus</id>
			<mirrorOf>*</mirrorOf>
			<url>http://vmzdockertst01.justice.qld.gov.au:8081/repository/maven-public/</url>
		</mirror>
	</mirrors>
	<activeProfiles>
		<activeProfile>nexus</activeProfile>
	</activeProfiles>
	<servers>
		<server>
			<id>au-qld-gov-bdm-bdm-repo</id>
			<username>aws</username>
			<password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
		</server>
	</servers>
	<profiles>
		<!--profile>
			<id>au-qld-gov-bdm-bdm-repo</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>au-qld-gov-bdm-bdm-repo</id>
					<url>https://au-qld-gov-bdm-736727292145.d.codeartifact.ap-southeast-2.amazonaws.com/maven/bdm-repo/</url>
				</repository>
			</repositories>
		</profile-->
		<profile>
			<id>nexus</id>
			<repositories>
				<repository>
					<id>localfs</id>
					<url>file:///c:/dev/m2/repository</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
</settings>